<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source=DESKTOP-GQQNBLR\SQLEXPRESS;Initial Catalog=DICTIONARY;integrated security=True;user instance=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>